body {
  background-color: #2727e6;
  color: white;
  font-family: 'PX Grotesk', Helvetica, Arial, sans-serif;
  padding: 4rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
}

h1.panel-title {
  margin-top: 3rem;
  text-align: left;
}

img {
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
}

.close-icon {
  box-shadow: none;
  border: none;
  background-color: white;
  width: 2rem;
  float: right;
  margin-top: -1rem;
  cursor: pointer;
}

.book {
  max-width: 100%;
  margin-bottom: -2rem;
  cursor: pointer;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.left {
  transform: rotate(5deg);
}

.right {
  transform: rotate(-5deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.side-panel {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  height: 100%;
  width: 25%;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 4rem;
  animation: fadein 0.5s;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin: 6rem 4em;
  text-align: center;
}

hr {
  margin: 2rem 0 0 0;
  width: 15%;
  border: 2px solid black;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.search {
  text-align: center;
  margin-top: 4rem;
}

label,
input {
  font-size: 1.2rem;
  display: block;
}

label {
  margin-bottom: 1rem;
}

input {
  padding: 0.6em;
  font-family: 'PX Grotesk', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin: auto;
  width: 50%;
}

/* mobile responsive styles */

@media only screen and (max-width: 700px) {
  body {
    padding: 2rem;
    text-align: center;
  }

  .side-panel {
    width: 70%;
    text-align: left;
    right: none;
  }

  .close-icon {
    position: absolute;
    float: right;
    bottom: 10rem;
  }

  .books-container {
    margin: 4rem 0rem;
  }
}
