body {
  font-family: 'Work Sans', sans-serif;
  color: black;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
}

h1.panel-title {
  margin-top: 3rem;
  text-align: left;
}

p {
  margin: 0;
}

p.author {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

img#logo {
  height: 3.4rem;
  object-fit: cover;
}

img.book {
  width: 100%;
  height: 14.4rem;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid black;
}

.close-icon {
  box-shadow: none;
  border: none;
  background-color: white;
  width: 2rem;
  float: right;
  margin-top: -1rem;
  cursor: pointer;
}

header {
  background-color: #ffbccc;
  padding: 2rem;
  text-align: center;
}

.side-panel {
  background-color: #ffe581;
  padding: 4rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.books-container {
  background-color: #a7e1f8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  padding: 3rem 5rem;
}

.search-container {
  background-color: #50b36f;
  padding: 1.2rem;
}

hr {
  margin: 2rem 0 0 0;
  width: 15%;
  border: 2px solid black;
}

label,
input {
  font-size: 1.2rem;
  display: block;
}

label {
  margin-bottom: 1rem;
}

input {
  padding: 0.6em;
  font-family: 'Px Grotesk', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin: auto;
  width: 50%;
}

/* mobile responsive styles */

@media only screen and (max-width: 700px) {
  body {
    padding: 2rem;
    text-align: center;
  }

  .side-panel {
    width: 70%;
    text-align: left;
    right: none;
  }

  .close-icon {
    position: absolute;
    float: right;
    bottom: 10rem;
  }

  .books-container {
    margin: 4rem 0rem;
  }
}
